@import '../../styles/foundation/settings';

.button {
  background: transparent;
  border: 0;
  padding: 0.625rem;

  &::before {
    content: "\2715";
    display: block;
    height: 16px;
    width: 16px;
    line-height: 1;
    color: $dark-gray;
    fonmt-size: 16px;
  }
}
