
.container {
  position: relative;
  padding: 1rem;
}

.label {
  position: absolute;
  z-index: 10;
}

.thumbnail {
  position: relative;
  overflow: hidden;
  height: 12rem;
  width: 12rem;

}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}
