.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  // NOTE
  // For some reason width keeps ending up at 50% in the other implimentations.
  // If you figure out why, please document!!!
  // I need to know if 100% will create problems.
  width: 100%;

  &::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
}
