@import '../../styles/foundation/_settings';

.container {
  padding: 5px;
}

.active {
  color: $white;
  text-shadow: 0px 0px 4px $black;
  svg {
    fill: $primary-color;
  }
}

.button {
  background: none;
  outline: none;
  border: none;
  padding: 0.625rem;
}
